<link href="$_imageurl$common/styles.css" rel="stylesheet" type="text/css" />
<link href="../../images/common/styles.css" rel="stylesheet" type="text/css">
   <table width="100%" border="0" cellspacing="0" cellpadding="0">
     <tr>
       <td style="padding-left:1px; padding-top:1px">
	   <table width=100% border=0 cellpadding=0 cellspacing=0 style="margin-left:0px; margin-right:0px">
    <tr>
     <td height="23" class="bg_nav_right_catheader" style="padding-left:15px">
      <span class="nav_right_category_header">$cat_name$</span>      </td>
    </tr>
</table>
   <!-- template insert : $article_list$ -->
       <!-- templatecell : row -->
	   <table width="100%" border="0" cellspacing="0" cellpadding="0">
         <tr>
           <td style="background-image:url(../templates/images/catmenu_bg.gif); background-repeat:no-repeat; background-position: center center; padding-left:10px"><table width="100%" border="0" cellpadding="0" cellspacing="0">
             <tr>
               <td width="10" height="27" style=" padding-top:3px"><img src="../templates/images/cat_bullet.gif" width="3" height="3" /></td>
               <td class="nav_right_headlines"><a href="$detail_link$" target="_top" class="nav_right_headlines">$art_name$</a></td>
             </tr>
           </table></td>
         </tr>
       </table>
	   <!-- /templatecell : row -->
   
   <!-- templatecell : row_summary -->
   <table width=100% border=0 cellpadding=0 cellspacing=0 style="margin-left:0px; margin-right:0px">
     <tr>
       <td height="23" class="bg_nav_right_catheader" style="padding-left:15px"><span class="nav_right_category_header">$cat_name$</span> </td>
     </tr>
   </table>
   <table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-image:url(../templates/images/catmenu_bg.gif); background-repeat:no-repeat;">
          <tr>
            <td width="10" height="27" style=" padding-top:3px"><img src="../templates/images/cat_bullet.gif" width="3" height="3" /></td>
            <td class="nav_right_headlines"><a href="$detail_link$" target="_top">$art_name$</a></td>
          </tr>
        </table>
   <!-- /templatecell : row_summary -->
   
   <!-- templatecell : row_link -->
   <table width=100% border=0 cellpadding=0 cellspacing=0 style="margin-left:0px; margin-right:0px">
     <tr>
       <td height="23" class="bg_nav_right_catheader" style="padding-left:15px"><span class="nav_right_category_header">$cat_name$</span> </td>
     </tr>
   </table>
   <table border="0" cellspacing="0" cellpadding="0" style="background-image:url(../templates/images/catmenu_bg.gif); background-repeat:no-repeat;">
          <tr>
            <td width="10" height="27" style=" padding-top:3px"><img src="../templates/images/cat_bullet.gif" width="3" height="3" /></td>
            <td class="nav_right_headlines"><a href="$detail_link$" target="_top">$art_name$</a></td>
          </tr>
        </table>
   <!-- /templatecell : row_link -->
   
   <!-- templatecell : row_ufile -->
   <table width=100% border=0 cellpadding=0 cellspacing=0 style="margin-left:0px; margin-right:0px">
     <tr>
       <td height="23" class="bg_nav_right_catheader" style="padding-left:15px"><span class="nav_right_category_header">$cat_name$</span> </td>
     </tr>
   </table>
   <table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-image:url(../templates/images/catmenu_bg.gif); background-repeat:no-repeat;">
          <tr>
            <td width="10" height="27" style=" padding-top:3px"><img src="../templates/images/cat_bullet.gif" width="3" height="3" /></td>
            <td class="nav_right_headlines"><a href="$detail_link$" target="_top">$art_name$</a></td>
          </tr>
        </table>
   <!-- /templatecell : row_ufile -->
   
   <!-- templatecell : not_found -->
     <span class="summary">Sorry, no articles were found.</span>
   <!-- /templatecell : not_found -->

   <!-- templatecell : img_caption -->
     <table border=0 cellspacing=2 cellpadding=0 width=$img_width$ align=$img_align$>
      <tr><td><img src="$img_url$" height="$img_height$" width="$img_width$" border=1></td></tr>
      <tr><td><span class="image_caption">$img_caption$</span></td></tr>
     </table>
   <!-- /templatecell : img_caption -->
   <!-- templatecell : img_nocaption -->
     <table border=0 cellspacing=2 cellpadding=0 width=$img_width$ align=$img_align$>
      <tr><td><img src="$img_url$" height="$img_height$" width="$img_width$" border=1></td></tr>
     </table>
   <!-- /templatecell : img_nocaption -->
   <!--<div align=left style="width:179px"><span class="more_headlines">-->

     <!-- template insert : $prev$ -->
     <!-- templatecell : prev -->
     <!--<a href="$prev_url$">&lt;&lt; prev</a>-->
     <!-- /templatecell : prev -->
     <!-- templatecell : no_prev -->
     <!--<span>&lt;&lt; prev</span>
     <!-- /templatecell : no_prev -->

     <!-- template insert : $next$ -->
     <!-- templatecell : next -->
     <!--<a href="$next_url$">next &gt;&gt;</a>-->
     <!-- /templatecell : next -->
     <!-- templatecell : no_next -->
     <!--<span>next &gt;&gt;</span>-->
     <!-- /templatecell : no_next -->
     <!-- template insert : $more$ -->
     <!-- templatecell : more -->
     <!--<a href="$more_url$">More Headlines</a>-->
     <!-- /templatecell : more -->
     <!-- templatecell : no_more -->
     <!-- /templatecell : no_more -->
     <!--</span></div>--> </td>
  </tr>
  <script language="JavaScript" type="text/JavaScript">
		setTimeout("resizeIframe()",500);
		<!--
		function resizeIframe() {
			i = parent.document.getElementById(window.name)
			iHeight = document.body.scrollHeight
			i.style.height = iHeight + 5 + "px"
		}
		//-->
	</script>
</table>