<style type="text/css"><!--
.header    { font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; }
.maintext  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px}
--></style>

<font class="maintext">

<p><font face="arial" size=4 class="header"><b><font color="#CC0000">Software License Agreement</font></b></font><br>

<p><b>IMPORTANT - READ CAREFULLY:</b> This License Agreement is a legal 
agreement between You and Vendor. Read it carefully before completing the 
installation process and using the Software. It provides a license to use the 
Software and contains warranty information and liability disclaimers. <b>BY 
INSTALLING, COPYING OR OTHERWISE USING THE SOFTWARE, YOU ARE CONFIRMING YOUR 
ACCEPTANCE OF THE SOFTWARE AND AGREEING TO BECOME BOUND BY THE TERMS OF THIS 
AGREEMENT. IF YOU DO NOT AGREE, DO NOT INSTALL OR USE THE PRODUCT.</b>

<p>The Software is owned by Vendor and/or its licensors and is protected by 
copyright laws and international copyright treaties, as well as other 
intellectual property laws and treaties. <b>THE SOFTWARE IS LICENSED, NOT 
SOLD.</b>

<p><hr size=1>

<p>1. <b>DEFINITIONS.</b>

<ol type="a">
<li> "Vendor" means <a href="http://www.emile.com" target="_new">e-milles creations</a>
<li> "You", "Your" means you and your company.
<li> "Software" means the product provided to You, which includes computer software
and may include associated media, printed materials, and "online" or electronic
documentation.
</ol>

<p>2. <b>OWNERSHIP.</b>

The Software is owned and copyrighted by Vendor and/or its licensors. Your 
license confers no title or ownership in the Software and is not a sale of 
any rights in the Software. 

<p>3. <b>GRANT OF LICENSE.</b> 

Vendor grants You the following rights provided You comply with all terms 
and conditions of this agreement.  For each license You have acquired for the 
Software:
<ol type="a">
<li>You are granted a non-exclusive right to use and install ONE copy of the software on ONE website.
<li>You may allow an unlimited number of users to access or otherwise utilize the
services or functionality of the installed software.
<li>You may make one copy for backup or archival purposes.
<li>You may modify the template files contained in the templates folder (if applicable).
</ol>



<p>4. <b>RESTRICTED USE.</b>

<ol type="a">
<li> You agree to use reasonable efforts to prevent unauthorized copying of the Software.
<li> You may not disable any licensing or control features of the Software or allow the Software
to be used with such features disabled.
<li>You may not share, rent, or lease Your right to use the Software.
<li> You may not modify, sublicense, copy, rent, sell, distribute or transfer any part 
of the Software except as provided in this Agreement.
<li>You may not reverse engineer, decompile, translate, create derivative works, 
decipher, decrypt, disassemble, or otherwise convert the Software to a more 
human-readable form for any reason.
<li> You will return or destroy all copies of the Software and generated content
(if applicable) if and when Your right to use it ends. 
<li><b>You may not use the Software for any purpose that is unlawful.</b>
</ol>

<p>5. <b>ADDITIONAL SOFTWARE</b> This license applies to updates, upgrades, 
plug-ins and any other additions to the original Software provided by Vendor, 
unless Vendor provides other terms along with the additional software.

<p>6. <b>3RD PARTY SERVICES</b> This Software may make use of, or have the 
ability to make use of, link to, or integrate with 3rd party content or 
services. The availability of the content or services is at the sole discretion 
of the 3rd party service providers and may be subject to usage agreements and 
other restrictions.  You agree to indemnify and save harmless Vendor and its 
licensors from all claims, damages, and expenses of whatever nature that may be 
made against Vendor and its licensors by 3rd party content and service providers 
as a result of Your use of the Software.

<p>7. <b>REGISTRATION.</b> The software will electronically register itself 
during installation or relocation and confirm that You have entered a valid 
"Product ID". The registration process only sends the license information that 
You've entered (Company Name, Domain Name, Product ID) and information about the 
software installed (Program ID, Version, Install URL, Checksum).  No other 
information is sent.

<p>8. <b>UPGRADES. </b> If this copy of the software is an upgrade from an 
earlier version of the software, it is provided to You on a license exchange 
basis.  Your use of the Software upgrade is subject to the terms of this 
license, and You agree by Your installation and use of this copy of the Software 
to voluntarily terminate Your earlier license and that You will not continue to 
use the earlier version of the Software or transfer it to another person or 
entity.


<p>9. <b>TRANSFER. </b>  You may make a one-time transfer of the Software 
and Your rights under this license to another party provided that:

<ol type="a">
<li> You provide the party with the Software, any "Product ID" codes, and this license.
<li> The party accepts the terms of this license as a condition of the transfer.
<li> You destroy any other copies of the Software and generated content (if applicable) in Your possession.
<li> You notify Vendor of the transfer.
</ol>

Your rights under this license automatically terminate upon transfer.

<p>10. <b>SUBLICENSING.</b> You may not sublicense the Software or your rights under
this license.

<p>11. <b>TERMINATION.</b> Vendor may terminate Your license if You do not abide 
by the license terms. Termination of the license may include, but not be limited 
to, marking the Product ID as invalid to prevent further installations. Upon 
termination of license, You shall immediately discontinue the use of the 
Software and shall within ten (10) days return to Vendor all copies of the 
Software or confirm that You have destroyed all copies of it. <b>Your 
obligations to pay accrued charges and fees, if any, shall survive any 
termination of this Agreement.</b> Vendor's third party licensors may protect 
their rights in the event of any violation of the terms and conditions of this 
license. You agree to indemnify Vendor and its licensors for reasonable attorney 
fees in enforcing its rights pursuant to this license.


<p>12. <b>DISCLAIMER OF WARRANTY.</b> The Software is provided on an "AS IS" 
basis, without warranty of any kind, including, without limitation, the 
warranties of merchantability, fitness for a particular purpose and non-
infringement. The entire risk as to the quality and performance of the Software 
is borne by You. Should the Software prove defective, You, not Vendor or its 
licensors, assume the entire cost of any service and repair. If the Software is 
intended to link to, extract content from or otherwise integrate with a third 
party service, Vendor makes no representation or warranty that Your particular 
use of the Software is or will continue to be authorized by law in Your 
jurisdiction or that the third party service will continue to be available to 
You. This disclaimer of warranty constitutes an essential part of the agreement.

<p>13. <b>LIMITATION OF LIABILITY. UNDER NO CIRCUMSTANCES AND UNDER NO LEGAL 
THEORY, TORT, CONTRACT, OR OTHERWISE, SHALL VENDOR OR ITS LICENSORS BE LIABLE 
TO YOU OR ANY OTHER PERSON FOR ANY INDIRECT, SPECIAL, PUNITIVE, INCIDENTAL, OR 
CONSEQUENTIAL DAMAGES OF ANY CHARACTER INCLUDING, WITHOUT LIMITATION, DAMAGES 
FOR WORK STOPPAGE, COMPUTER FAILURE OR LOSS OF REVENUES, PROFITS, GOODWILL, USE, 
DATA OR OTHER INTANGIBLE OR ECONOMIC LOSSES. IN NO EVENT WILL VENDOR OR ITS 
LICENSORS BE LIABLE FOR ANY DAMAGES IN EXCESS OF THE AMOUNT PAID TO LICENSE THE 
SOFTWARE, EVEN IF YOU OR ANY OTHER PARTY SHALL HAVE INFORMED VENDOR OR ITS 
LICENSORS OF THE POSSIBILITY OF SUCH DAMAGES, OR FOR ANY CLAIM. NO CLAIM, 
REGARDLESS OF FORM, MAY BE MADE OR ACTION BROUGHT BY YOU MORE THAN ONE YEAR 
AFTER THE BASIS FOR THE CLAIM BECOMES KNOWN TO THE PARTY ASSERTING IT.</b>

<p>14. <b>APPLICABLE LAW.</b> This license shall be interpreted in accordance 
with the laws of $_vendor_location$. Any disputes arising out of this license 
shall be adjudicated in a court of competent jurisdiction in $_vendor_location$.

<p>15. <b>GOVERNING LANGUAGE.</b> Any translation of this License is done for 
local requirements and in the event of a dispute between the English and any 
non-English versions, the English version of this License shall govern.

<p>16. <B>ENTIRE AGREEMENT.</b> This license constitutes the entire agreement 
between the parties relating to the Software and supersedes any proposal or 
prior agreement, oral or written, and any other communication relating to the 
subject matter of this license. Any conflict between the terms of this License 
Agreement and any Purchase Order, invoice, or representation shall be resolved 
in favour of the terms of this License Agreement. In the event that any clause 
or portion of any such clause is declared invalid for any reason, such finding 
shall not affect the enforceability of the remaining portions of this License 
and the unenforceable clause shall be severed from this license. <b>Any 
amendment to this agreement must be in writing and signed by both parties.</b>


<p><hr size=1>
Should you have any questions concerning this license,
or if you desire to contact us for any reason, please email or telephone.

</font>
