<link href="$_imageurl$common/styles.css" rel="stylesheet" type="text/css" />
<link href="../../images/common/styles.css" rel="stylesheet" type="text/css">
<script language="JavaScript" type="text/JavaScript">
<!--
function resizeIframe() {	
	i = parent.document.getElementById(window.name)
	iHeight = document.body.scrollHeight
	i.style.height = iHeight + 35 + "px"
}
function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
//-->
</script>

<!-- template insert : $article_list$ -->
	<!-- templatecell : row -->
      <!-- /templatecell : row -->
      <!-- templatecell : row_summary -->
      <!-- /templatecell : row_summary -->
      <!-- templatecell : row_link -->
      <!-- /templatecell : row_link -->
      <!-- templatecell : row_ufile -->
      <!-- /templatecell : row_ufile -->
      <!-- templatecell : not_found -->
      <!-- /templatecell : not_found -->
      <!-- templatecell : img_caption --> <!-- /templatecell : img_caption -->
      <!-- templatecell : img_nocaption --> <!-- /templatecell : img_nocaption -->
     <!-- template insert : $prev$ -->
     <!-- templatecell : prev -->
     <!-- /templatecell : prev -->
     <!-- templatecell : no_prev -->
     <!-- /templatecell : no_prev -->

     <!-- template insert : $next$ -->
     <!-- templatecell : next -->
     <!-- /templatecell : next -->
     <!-- templatecell : no_next -->
     <!-- /templatecell : no_next -->

     <!-- template insert : $more$ -->
     <!-- templatecell : more -->
     <!-- /templatecell : more -->
     <!-- templatecell : no_more -->
     <!-- /templatecell : no_more -->

