 

   <table width=180 border=0 cellpadding=1 cellspacing=1 style="background-color:#DD6600">
  <tr><td valign="center">


<!-- template insert : $category_list$ -->

<!-- templatecell : row_depth1 -->

   
  <tr><td><image src="/demo/images/menu_bg.gif"><a href="$url_index$" class="tableLinks">$cat_name$</a></td></tr>
   
<!-- /templatecell : row_depth1 -->

<!-- templatecell : row_depth2 -->
 
  <tr><td style="padding-left: 10;"><image src="/demo/images/menu_bg2.gif"><a href="$url_index$"  class="tableLinks">$cat_name$</a></td></tr>
 
<!-- /templatecell : row_depth2 -->

<!-- templatecell : row_depth3 -->
  
   <tr><td style="padding-left: 10;"><image src="/demo/images/menu_bg2.gif"><a href="$url_index$"  class="tableLinks">$cat_name$</a></td></tr>
   
<!-- /templatecell : row_depth3 -->

<!-- templatecell : row_selected_depth1 -->
  
  <tr><td><image src="/demo/images/menu_bg.gif"><a href="$url_index$" class="tableLinks">$cat_name$</a></td></tr>
   
<!-- /templatecell : row_selected_depth1 -->

<!-- templatecell : row_selected_depth2 -->
  
  <tr><td style="padding-left: 10;"><image src="/demo/images/menu_bg2.gif"><a href="$url_index$"  class="tableLinks">$cat_name$</a></td></tr>
  
<!-- /templatecell : row_selected_depth2 -->

<!-- templatecell : row_selected_depth3 -->
   
  <tr><td style="padding-left: 10;"><image src="/demo/images/menu_bg2.gif"><a href="$url_index$"  class="tableLinks">$cat_name$</a></td></tr>
    
<!-- /templatecell : row_selected_depth3 -->

<!-- templatecell : not_found -->
    <tr class="bg_nav_left"><td width="1%">&nbsp;</td><td><span class="category_link_depth1">No Categories Defined</span></td></tr>
<!-- /templatecell : not_found -->
</table>
