<link href="$_imageurl$common/styles.css" rel="stylesheet" type="text/css" />
<link href="../images/common/styles.css" rel="stylesheet" type="text/css" />
<center>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td height="36" align="center" class="mainmenubg">
<table  border="0" cellpadding="0" cellspacing="0">
<tr>
<td width="2px" height="35" align="center" class="main_cat_menu" style="background-image: url(../templates/mainmenu/menusep.gif);background-repeat: no-repeat;background-position: right center; padding-left:0px; padding-right:0px"></td>
<td height="35" align="center" class="main_cat_menu" style="background-image: url(../templates/mainmenu/menusep.gif);background-repeat: no-repeat;background-position: right center; padding-left:10px; padding-right:10px"><a href="/index.html" target="_top" class="main_cat_menu">Home</a></td>

<!-- template insert : $category_list$ --> 
<!-- templatecell : row_depth1 -->			 
<!-- /templatecell : row_depth1 -->
<!-- templatecell : row_depth2 -->
<!-- /templatecell : row_depth2 -->
<!-- templatecell : row_depth3 -->
<!-- /templatecell : row_depth3 -->
<!-- templatecell : row_selected_depth1 -->
<!-- /templatecell : row_selected_depth1 -->
<!-- templatecell : row_selected_depth2 -->
<!-- /templatecell : row_selected_depth2 -->
<!-- templatecell : row_selected_depth3 -->
<!-- /templatecell : row_selected_depth3 -->
<!-- templatecell : not_found -->
<td width="124" height="35" align="center" class="main_cat_menu" style="background-image: url(../templates/mainmenu/menusep.gif);background-repeat: no-repeat;background-position: right center; padding-left:10px; padding-right:5px">No Categories Defined</td>
<!-- /templatecell : not_found -->

</tr>
<tr></tr>
</table></td>
</tr>
</table>