/* CSS hacks for IE versions 5,6 */

#taskbar
{
  background: url(images/taskbar.gif?v=5666.2033) top right no-repeat;
  width: expression((parseInt(document.documentElement.clientWidth)-250)+'px');
}

img
{
  behavior: url(skins/classic/pngbehavior.htc);
}

#logo
{
  width: 178px;
  height: 47px;
}

body > #message div.notice,
body > #message div.error,
body > #message div.warning,
body > #message div.confirmation,
#message-objects div.notice,
#message-objects div.error,
#message-objects div.warning,
#message-objects div.confirmation
{
  background-image: url(images/display/icons.gif?v=84d5.2329);
}

#messagemenu li a
{
  background-image: url(images/messageactions.gif?v=dcdc.1916);
}

#mailboxlist li
{
  background-image: url(images/icons/folders.gif?v=59af.2568);
}

#messagetoolbar a
{
  display: block;
  float: left;
  padding-right: 10px;
}

.boxfooter a.button,
.boxfooter a.buttonPas
{
  background-image: url(images/icons/groupactions.gif?v=677d.496);
}

.pagenav
{
  width: 250px;
}

.pagenav a.button,
.pagenav a.buttonPas
{
  background-image: url(images/pagenav.gif?v=2e75.355);
}

#listcontrols a.button,
#listcontrols a.buttonPas {
  background-image: url(images/mail_footer.gif?v=83fb.1336);
}

#messagetoolbar a.button,
#messagetoolbar a.buttonPas {
  background-image: url(images/mail_toolbar.gif?v=183d.12821);
}

#abooktoolbar a.button,
#abooktoolbar a.buttonPas,
#abooktoolbar span.separator {
  background-image: url(images/abook_toolbar.gif?v=dfe4.5753);
}

ul.toolbarmenu li a,
.popupmenu li a
{
  clear: left;
  height: expression(Math.min(14, parseInt(document.documentElement.clientHeight))+'px');
  width: expression(Math.min(130, parseInt(document.documentElement.clientWidth))+'px');
}

ul.toolbarmenu li.separator_below
{
  padding-bottom: 3px;
}

.boxfooter
{
  width: 100%;
  bottom: -1px;
}

.boxtitle,
#directorylist li a
{
  width: auto;
}

#directorylist li
{
  background-image: url(images/icons/folders.gif?v=59af.2568);
}

.boxlistcontent
{
  top: 21px;
  height: expression((parseInt(this.parentNode.offsetHeight)-24-parseInt(this.style.top?this.style.top:21))+'px');
}

#compose-div .boxlistcontent
{
  height: expression((parseInt(this.parentNode.offsetHeight)-23-parseInt(this.style.top?this.style.top:21))+'px');
}

#compose-body-div
{
  height: expression(parseInt(this.parentNode.offsetHeight)+'px');
}

#folder-manager
{
  height: expression((parseInt(document.documentElement.clientHeight)-105)+'px');
}

#messagelist tr td div.collapsed,
#messagelist tr td div.expanded,
#messagelist tr td.threads div.listmenu,
#messagelist tr td.attachment span.attachment,
#messagelist tr td.attachment span.report,
#messagelist tr td.priority span.priority,
#messagelist tr td.priority span.prio1,
#messagelist tr td.priority span.prio2,
#messagelist tr td.priority span.prio3,
#messagelist tr td.priority span.prio4,
#messagelist tr td.priority span.prio5,
#messagelist tr td.flag span.flagged,
#messagelist tr td.flag span.unflagged:hover,
#messagelist tr td.status span.status,
#messagelist tr td.status span.msgicon,
#messagelist tr td.status span.deleted,
#messagelist tr td.status span.unread,
#messagelist tr td.status span.unreadchildren,
#messagelist tr td.subject span.msgicon,
#messagelist tr td.subject span.deleted,
#messagelist tr td.subject span.unread,
#messagelist tr td.subject span.replied,
#messagelist tr td.subject span.forwarded,
#messagelist tr td.subject span.unreadchildren
{
  background-image: url(images/messageicons.gif?v=2f0b.2222);
}

#messagelist tr td div.collapsed,
#messagelist tr td div.expanded {
	background-color: #fff;
}

body.iframe .boxtitle
{
  position: absolute;
}

#subscription-table
{
  width: auto;
}

#sourcename
{
  zoom: 1;
}

#abookactions a
{
  background-image: url(images/icons/groupactions.gif?v=677d.496);
}
