/***** Roundcube|Mail settings task styles *****/

#rcmfd_timezone
{
  width: 300px;
}

#folder-manager.droptarget
{
  border: 1px solid #CC3333;
  background-color: #FFFFA6;
}

#identities-table,
#subscription-table,
#sections-table
{
  width: 100%;
  table-layout: fixed;
}

#subscription-table input
{
  font: inherit;
}

#subscription-table tbody td,
#identities-table tbody td,
#sections-table tbody td
{
  cursor: default;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  height: 18px;
}

#subscription-table tr.virtual td
{
  color: #666;
}

#subscription-table tr.root td
{
  font-size: 10%;
  height: 5px;
}

#subscription-table tr.selected td
{
  color: #FFFFFF;
  background-color: #CC3333;
}

#subscription-table tr.droptarget td
{
  background-color: #FFFFA6;
}

#subscription-table td.name
{
  width: auto;
}

#subscription-table td.subscribed
{
  text-align: right;
  padding-right: 12px;
}

#folder-box,
#prefs-box,
#identity-box
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #999999;
  overflow: hidden;
  background-color: #F2F2F2;
}

#identity-details table td.title,
#folder-details table td.title
{
  font-weight: bold;
  text-align: right;
}

#bottomboxes
{
  position: absolute;
  width: 600px;
  height: 95px;
  left: 0;
  bottom: 0;
}

#identities-list,
#folder-manager,
#sectionslist
{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border: 1px solid #999999;
  background-color: #F9F9F9;
  overflow: hidden;
}

body.iframe,
#prefs-frame,
#folder-frame,
#identity-frame
{
  background-color: #F2F2F2;
  border: none;
  min-height: 100%; /* Chrome 14 bug */
}

#prefs-title,
#folder-title,
#identity-title
{
  /* fixes issue where tabs were overlapping box title when scrolling */
  z-index: 10;
}

#formfooter
{
  width: 100%;
}

#formfooter .footerleft
{
  padding: 0 2px 10px;
  white-space: nowrap;
  float: left;
}

#formfooter .footerright
{
  padding: 0 2px 10px;
  white-space: nowrap;
  text-align: right;
  float: right;
}

#quota
{
  position: absolute;
  top: 3px;
  right: 8px;
  width: 100px;
}

#quotaimg
{
  position: absolute;
  top: 3px;
  right: 6px;
  z-index: 101;
}

#rcmfd_signature
{
  font-family: monospace;
}

div.readtext
{
  width: 42em;
  padding: 20px;
}

#license
{
  min-height: 200px;
  padding-bottom: 2em;
  background: url(images/watermark.gif?v=4094.9288) no-repeat center;
}

#license .sysname
{
  font-size: 18px;
  font-weight: bold;
}

#license .copyright
{
  font-weight: bold;
}

#license .license,
#license .links
{
  margin-top: 1.5em;
}

.skinselection
{
  display: block;
  white-space: nowrap;
  margin: 0.3em 0;
}

.skinselection span
{
  display: inline-block;
  vertical-align: middle;
  padding-right: 1em;
}

.skinselection .skinname
{
  font-weight: bold;
}

.skinselection .skinlicense,
.skinselection .skinlicense a
{
  color: #999;
  font-style: italic;
  text-decoration: none;
}

.skinselection .skinlicense a:hover
{
  text-decoration: underline;
}

img.skinthumbnail
{
  width: 64px;
  height: 64px;
  border: 1px solid #999;
  background: #fff;
}

#pluginlist
{
  border: 1px solid #999;
  width: 100%;
}

#pluginlist td.version
{
  text-align: center;
}

div.crop
{
  overflow: auto;
}
