/** civil
* CSS@version 3.0
* @author Emilio Kyriakakis 
* @edited e-millescreations.com
*/
* {
margin:0;
/*padding:0;*/
border:0;
outline:0;
}
body, {
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 1em;
color: #000000;
margin:0px 0px 0px 0px;
background-color:#ffffff;
}
td,tr {
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 1em;
color: #000000;
margin:0px 0px 0px 0px;
}
a:link, a:visited, a:active {
font-size: 1em;
color: #000000;
text-decoration: none;
}
a:hover {
font-size: 1em;
text-decoration: none;
color: #4a4a4a;
}
.a1 {
font-size: 1em;
text-decoration: none;
color: #4a4a4a;
}

.menu:link {
font-size: 1em;
color: #ffffff;
text-decoration: none;
}
.menu:visited {
font-size: 1em;
color: #ffffff;
text-decoration: none;
}
.menu:active {
font-size: 1em;
color: #ffffff;
text-decoration: none;
}
.menu:hover {
font-size: 1em;
text-decoration: none;
color: #ffffff;
}
.t1 {
font-size: 1.6em;
font-weight:bold;
text-decoration: none;
color: #676767;
}
.t1:link {
font-size: 1.6em;
font-weight:bold;
text-decoration: none;
color: #676767;
}
.t1:visited {
font-size: 1.6em;
font-weight:bold;
text-decoration: none;
color: #676767;
}
.t1:active {
font-size: 1.6em;
font-weight:bold;
text-decoration: none;
color: #676767;
}
.t1:hover {
font-size: 1.6em;
font-weight:bold;
text-decoration: none;
color: #000000;
}
.t2 {
font-size: 1.6em;
font-weight:bold;
text-decoration: none;
color: #676767;
}
.t3 {
font-size: 1.2em;
font-weight:bold;
text-decoration: none;
color: #676767;
}
.t3:link {
font-size: 1.2em;
font-weight:bold;
text-decoration: none;
color: #676767;
}
.t3:visited {
font-size: 1.2em;
font-weight:bold;
text-decoration: none;
color: #676767;
}
.t3:active {
font-size: 1.2em;
font-weight:bold;
text-decoration: none;
color: #676767;
}
.t3:hover {
font-size: 1.2em;
font-weight:bold;
text-decoration: none;
color: #000000;
}
.t4 {
font-size: 1.2em;
font-weight:bold;
text-decoration: none;
color: #000000;
}
.txt {
font-size: 0.7em;
text-decoration: none;
color: #000000;
}
