#aclcontainer
{
  overflow-x: auto;
  border: 1px solid #CCDDE4;
  background-color: #D9ECF4;
  height: 272px;
  box-shadow: none;
}

#acllist-content
{
  position: relative;
  height: 230px;
  background-color: white;
}

#acllist-footer
{
  position: relative;
}

#acltable
{
  width: 100%;
  border-collapse: collapse;
  border: none;
}

#acltable td
{
  white-space: nowrap;
  border: none;
  text-align: center;
}

#acltable thead tr td
{
  border-left: #BBD3DA dotted 1px;
  font-size: 11px;
  font-weight: bold;
}

#acltable tbody td
{
  border-bottom: #DDDDDD 1px solid;
  text-align: center;
  padding: 2px;
  cursor: default;
}

#acltable thead td.user
{
  border-left: none;
}

#acltable tbody td.user
{
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  border-left: none;
  width: 50px;
}

#acltable tbody td.partial
{
  background-image: url(images/partial.png?v=05d7.389);
  background-position: center;
  background-repeat: no-repeat;
}

#acltable tbody td.enabled
{
  background-image: url(images/enabled.png?v=9d9a.674);
  background-position: center;
  background-repeat: no-repeat;
}

#acltable tbody tr.selected td.partial
{
  background-color: #019bc6;
  background-image: url(images/partial.png?v=05d7.389), -moz-linear-gradient(top, #019bc6 0%, #017cb4 100%);
  background-image: url(images/partial.png?v=05d7.389), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#019bc6), color-stop(100%,#017cb4));
  background-image: url(images/partial.png?v=05d7.389), -o-linear-gradient(top, #019bc6 0%, #017cb4 100%);
  background-image: url(images/partial.png?v=05d7.389), -ms-linear-gradient(top, #019bc6 0%, #017cb4 100%);
  background-image: url(images/partial.png?v=05d7.389), linear-gradient(top, #019bc6 0%, #017cb4 100%);
}

#acltable tbody tr.selected td.enabled
{
  background-color: #019bc6;
  background-image: url(images/enabled.png?v=9d9a.674), -moz-linear-gradient(top, #019bc6 0%, #017cb4 100%);
  background-image: url(images/enabled.png?v=9d9a.674), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#019bc6), color-stop(100%,#017cb4));
  background-image: url(images/enabled.png?v=9d9a.674), -o-linear-gradient(top, #019bc6 0%, #017cb4 100%);
  background-image: url(images/enabled.png?v=9d9a.674), -ms-linear-gradient(top, #019bc6 0%, #017cb4 100%);
  background-image: url(images/enabled.png?v=9d9a.674), linear-gradient(top, #019bc6 0%, #017cb4 100%);
}

#aclform
{
  top: 80px;
  width: 480px;
  padding: 10px;
  background-color: white;
}

#aclform div
{
  padding: 0;
  text-align: center;
  clear: both;
}

#aclform ul
{
  list-style: none;
  margin: 0.2em;
  padding: 0;
}

#aclform ul li label
{
  margin-left: 0.5em;
}

ul.toolbarmenu li span.delete {
  background-position: 0 -1509px;
}
