
   <!-- templatecell : img_caption -->
     <table border=0 cellspacing=2 cellpadding=0 width=$img_width$ align=$img_align$>
      <tr><td><img src="$img_url$" height="$img_height$" width="$img_width$" border=1></td></tr>
      <tr><td><span class="image_caption">$img_caption$</span></td></tr>
     </table>
   <!-- /templatecell : img_caption -->
   <!-- templatecell : img_nocaption -->
     <table border=0 cellspacing=2 cellpadding=0 width=$img_width$ align=$img_align$ style="margin-bottom:15px">
      <tr><td><img src="$img_url$" height="$img_height$" width="$img_width$" border=1></td></tr>
     </table>
   <!-- /templatecell : img_nocaption -->
	 
