<!-- template insert : $article_list$ -->
         <!-- templatecell : row -->
		 <table border=0 cellspacing=0 cellpadding=0 width=100%>
     <tr>
      <td><span class="header_breadcrumb">$cat_name$</span></td>
      <td align="right">&nbsp;</td>
     </tr>
    </table>
     <table width=100% height="25" border=0 cellpadding=0 cellspacing=0 style="background-image:url(../templates/images/art_title_bg.gif); background-repeat:repeat-x; background-position:center center; margin-bottom:15px">
      <tr>
       <td><span class="article_text">
        <span class="article_title" style="padding-left:10px">$art_name$</span>
        <br>
       </span>       </td>
       <td align=right style="padding-right:10px"><table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><span class="artools"><img src="../templates/images/email_ico.gif" hspace="5" vspace="1"></span></td>
        <td><span class="artools"><a href="mailto:?subject=$art_name_ue$&body=$url_index$" class="artools">Email&nbsp;this&nbsp;article</a></span></td>
      </tr>
    </table></td>
    <td style="padding-left:10px"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><span class="article_text"><img src="../templates/images/printer_ico.gif" hspace="5" vspace="1"></span></td>
        <td><span class="artools"><a href="$art_printer_url$"class="artools">Printer&nbsp;friendly&nbsp;page</a></span></td>
      </tr>
    </table></td>
  </tr>
</table>
</td>
      </tr>
     </table>
   <span class="article_text" style="margin-top:10px">$art_content$</span>
      <!-- /templatecell : row -->
           <!-- templatecell : row_summary --> 
		   <table border=0 cellspacing=0 cellpadding=0 width=100%>
     <tr>
      <td><span class="header_breadcrumb">$cat_name$</span></td>
      <td align="right">&nbsp;</td>
     </tr>
    </table>
     <table width=100% height="25" border=0 cellpadding=0 cellspacing=0 style="background-image:url(../templates/images/art_title_bg.gif); background-repeat:repeat-x; background-position:center center; margin-bottom:15px">
      <tr>
       <td><span class="article_text">
        <span class="article_title" style="padding-left:10px">$art_name$</span>
        <br>
       </span>       </td>
       <td align=right style="padding-right:10px"><table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><span class="artools"><img src="../templates/images/email_ico.gif" hspace="5" vspace="1"></span></td>
        <td><span class="artools"><a href="mailto:?subject=$art_name_ue$&body=$url_thispage_ue$" class="artools">Email&nbsp;this&nbsp;article</a></span></td>
      </tr>
    </table></td>
    <td style="padding-left:10px"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><span class="article_text"><img src="../templates/images/printer_ico.gif" hspace="5" vspace="1"></span></td>
        <td><span class="artools"><a href="$art_printer_url$"class="artools">Printer&nbsp;friendly&nbsp;page</a></span></td>
      </tr>
    </table></td>
  </tr>
</table>
</td>
      </tr>
     </table>
   <span class="article_text" style="margin-top:10px">$art_content$</span>        
			<!-- /templatecell : row_summary -->
            <!-- templatecell : row_link -->
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
 		 <tr>
 		   <td width="1" class="summary_title" style="padding-right:4px"><img src="/artman/templates/images/redarrow2.gif"></td>
    		<td class="summary_title"><a href="$detail_link$" class="summary_title" title="View details">$art_name$</a></td>
  		</tr>
 		 <tr>
 		   <td colspan="2" class="summary" style="padding-top:3px">$art_summary$</td>
 		   </tr>
		</table>
            <span class="summary">[&nbsp;<a href="$detail_link$" target="_blank" class="summary">Visit&nbsp;Website</a>&nbsp;]</span>
			<!-- /templatecell : row_link -->
            <!-- templatecell : row_ufile -->
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
 		 <tr>
 		   <td width="1" class="summary_title" style="padding-right:4px"><img src="/artman/templates/images/redarrow2.gif"></td>
    		<td class="summary_title"><a href="$detail_link$" class="summary_title" title="View details">$art_name$</a></td>
  		</tr>
 		 <tr>
 		   <td colspan="2" class="summary" style="padding-top:3px">$art_summary$</td>
 		   </tr>
		</table>
            <span class="summary">[&nbsp;<a href="$detail_link$" target="_blank" class="summary">Download/View&nbsp;File</a>&nbsp;]
			<!-- /templatecell : row_ufile -->
            <!-- templatecell : not_found -->
			<span class="summary">Sorry, no articles were found.</span><br>
			<!-- /templatecell : not_found -->
            <!-- templatecell : img_caption -->
     <table border=0 cellspacing=2 cellpadding=0 width=$img_width$ align=$img_align$>
      <tr><td><img src="$img_url$" height="$img_height$" width="$img_width$" border=1></td></tr>
      <tr><td><span class="image_caption">$img_caption$</span></td></tr>
     </table>
   <!-- /templatecell : img_caption -->
   <!-- templatecell : img_nocaption -->
     <table border=0 cellspacing=2 cellpadding=0 width=$img_width$ align=$img_align$ style="margin-bottom:15px">
      <tr><td><img src="$img_url$" height="$img_height$" width="$img_width$" border=1></td></tr>
     </table>
   <!-- /templatecell : img_nocaption -->
     <!-- template insert : $prev$ -->
     <!-- templatecell : prev -->
     <!-- /templatecell : prev -->
     <!-- templatecell : no_prev -->
     <!-- /templatecell : no_prev -->
     <!-- template insert : $next$ -->
     <!-- templatecell : next -->
     <!-- /templatecell : next -->
     <!-- templatecell : no_next -->
     <!-- /templatecell : no_next -->
     <!-- template insert : $more$ -->
     <!-- templatecell : more -->
     <!-- /templatecell : more -->
     <!-- templatecell : no_more -->
     <!-- /templatecell : no_more -->
	 
<table border=0 cellspacing=0 cellpadding=0 width=100%><tr><td>

   </td></tr></table>