#filtersetslistbox
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 150px;
}

#filtersscreen
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 162px;
}

#filterslistbox
{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 180px;
}

#filter-box
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 192px;
}

#filter-frame
{
  border-radius: 4px;
}

#filterslist,
#filtersetslist
{
  width: 100%;
  table-layout: fixed; 
}

#filterslist tbody td,
#filtersetslist tbody td
{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

#filterslist tbody tr.disabled td,
#filtersetslist tbody tr.disabled td
{
  color: #87A3AA;
}

#filtersetslist tbody td
{
  font-weight: bold;
}

#filterslist tbody tr.filtermoveup td
{
  border-top: 2px dotted #555;
  padding-top: 5px;
}

#filterslist tbody tr.filtermovedown td
{
  border-bottom: 2px dotted #555;
  padding-bottom: 4px;
}

body.iframe
{
  min-width: 620px;
}

#filter-form
{
  min-width: 550px;
  white-space: nowrap;
  padding: 20px 10px 10px 10px;
}

legend, label
{
  color: #666666;
}

#rules, #actions
{
  margin-top: 5px;
  padding: 0;
  border-collapse: collapse;
}

div.rulerow, div.actionrow
{
  width: auto;
  padding: 2px;
  white-space: nowrap;
  border: 1px solid white;
}

div.rulerow:hover, div.actionrow:hover
{
  padding: 2px;
  white-space: nowrap;
  background-color: #D9ECF4;
  border: 1px solid #BBD3DA;
  border-radius: 4px;
}

div.rulerow table, div.actionrow table
{
  padding: 0px;
  min-width: 600px;
}

td
{
  vertical-align: top;
}

td.advbutton
{
  width: 1%;
}

td.advbutton a
{
  display: block;
  padding-top: 14px;
  height: 6px;
  width: 12px;
  text-decoration: none;
}

td.advbutton a.show
{
  background: url(images/down_small.gif?v=8629.106) center no-repeat;
}

td.advbutton a.hide
{
  background: url(images/up_small.gif?v=c56c.106) center no-repeat;
}

td.rowbuttons
{
  text-align: right;
  white-space: nowrap;
  width: 1%;
}

td.rowactions
{
  white-space: nowrap;
  width: 1%;
  padding-top: 2px;
}

td.rowtargets
{
  white-space: nowrap;
  width: 98%;
  padding-left: 3px;
  padding-top: 2px;
}

td.rowtargets div.adv
{
  padding-top: 3px;
}

input.disabled, input.disabled:hover
{
  color: #999999;
}

input.error, textarea.error
{
  background-color: #FFFFC4;
}

input.box,
input.radio
{
  border: 0;
  margin-top: 0;
}

select.operator_selector
{
  width: 200px;
}

td.rowtargets span,
span.label
{
  color: #666666;
  font-size: 10px;
  white-space: nowrap;
}

#footer
{
  padding-top: 5px;
  width: 100%;
}

#footer .footerleft label
{
  margin-left: 40px;
  white-space: nowrap;
}

.itemlist
{
  line-height: 25px;
}

.itemlist input
{
  vertical-align: middle;
}

span.sieve.error
{
  color: red;
  white-space: nowrap;
}

#managesieve-tip
{
  padding: 3px;
  background-color: #eee;
}

a.button
{
  margin: 0;
  padding: 0;
}

a.button.add
{
  background: url(images/add.png?v=a165.280) no-repeat;
  width: 30px;
  height: 20px;
  margin-right: 4px;
  display: inline-block;
}

a.button.del
{
  background: url(images/del.png?v=3c27.247) no-repeat;
  width: 30px;
  height: 20px;
  display: inline-block;
}

a.button.disabled
{
  opacity: 0.35;
  filter: alpha(opacity=35);
  cursor: default;
}

#filter-form select,
#filter-form input,
#filter-form textarea
{
  font-size: 11px;
  padding: 1px;
}

/* revert larry style button */
#filter-form input.button
{
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
}

fieldset
{
  border-radius: 4px;
}

/* fixes for popup window */

body.iframe.mail
{
  margin: 0;
  padding: 0;
}

body.iframe.mail #filter-form
{
  padding: 10px 5px 5px 5px;
}
