#filtersetslistbox
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 195px;
  border: 1px solid #999999;
  background-color: #F9F9F9;
  overflow: hidden;
  /* css hack for IE */
  height: expression(parseInt(this.parentNode.offsetHeight)+'px');
}

#filtersscreen
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 205px;
  /* css hack for IE */
  height: expression(parseInt(this.parentNode.offsetHeight)+'px');
}

#filterslistbox
{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border: 1px solid #999999;
  overflow: auto;
  /* css hack for IE */
  height: expression(parseInt(this.parentNode.offsetHeight)+'px');
}

#filterslist,
#filtersetslist
{
  width: 100%;
  table-layout: fixed;
}

#filterslist tbody td,
#filtersetslist tbody td
{
  cursor: default;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

#filterslist tbody tr.disabled td,
#filtersetslist tbody tr.disabled td
{
  color: #999999;
}

#filtersetslist tbody td
{
  font-weight: bold;
}
/*
#filtersetslist tr.selected
{
  background-color: #929292;
  border-bottom: 1px solid #898989;
  color: #FFF;
  font-weight: bold;
}
*/

#filterslist tbody tr.filtermoveup td
{
  border-top: 2px dotted #555;
  padding-top: 0px;
}

#filterslist tbody tr.filtermovedown td
{
  border-bottom: 2px dotted #555;
  padding-bottom: 1px;
}

#filter-box
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #999999;
  overflow: hidden;
  /* css hack for IE */
  width: expression((parseInt(this.parentNode.offsetWidth)-20-parseInt(document.getElementById('filterslistbox').offsetWidth))+'px');
  height: expression(parseInt(this.parentNode.offsetHeight)+'px');
}

#filter-frame
{
  border: none;
}

body.iframe
{
  min-width: 620px;
  width: expression(Math.max(620, document.documentElement.clientWidth)+'px');
  background-color: #F2F2F2;
}

#filter-form
{
  min-width: 550px;
  width: expression(Math.max(550, document.documentElement.clientWidth)+'px');
  white-space: nowrap;
  padding: 20px 10px 10px 10px;
}

legend, label
{
  color: #666666;
}

#rules, #actions
{
  margin-top: 5px;
  padding: 0;
  border-collapse: collapse;
}

div.rulerow, div.actionrow
{
  width: auto;
  padding: 2px;
  white-space: nowrap;
  border: 1px solid #F2F2F2;
}

div.rulerow:hover, div.actionrow:hover
{
  padding: 2px;
  white-space: nowrap;
  background: #F9F9F9;
  border: 1px solid silver;
}

div.rulerow table, div.actionrow table
{
  padding: 0px;
  min-width: 600px;
  width: expression(Math.max(600, document.documentElement.clientWidth)+'px');
}

td
{
  vertical-align: top;
}

td.advbutton
{
  width: 1%;
}

td.advbutton a
{
  display: block;
  padding-top: 14px;
  height: 6px;
  width: 12px;
  text-decoration: none;
}

td.advbutton a.show
{
  background: url(images/down_small.gif?v=8629.106) center no-repeat;
}

td.advbutton a.hide
{
  background: url(images/up_small.gif?v=c56c.106) center no-repeat;
}

td.rowbuttons
{
  text-align: right;
  white-space: nowrap;
  width: 1%;
}

td.rowactions
{
  white-space: nowrap;
  width: 1%;
  padding-top: 2px;
}

td.rowtargets
{
  white-space: nowrap;
  width: 98%;
  padding-left: 3px;
  padding-top: 2px;
}

td.rowtargets div.adv
{
  padding-top: 3px;
}

input.disabled, input.disabled:hover
{
  color: #999999;
}

input.error, textarea.error
{
  background-color: #FFFF88;
}

input.box,
input.radio
{
  border: 0;
  margin-top: 0;
}

select.operator_selector
{
  width: 200px;
}

td.rowtargets span,
span.label
{
  color: #666666;
  font-size: 10px;
  white-space: nowrap;
}

#footer
{
  padding-top: 5px;
  width: 100%;
}

#footer .footerleft
{
  padding-left: 2px;
  white-space: nowrap;
  float: left;
}

#footer .footerright
{
  padding-right: 2px;
  white-space: nowrap;
  text-align: right;
  float: right;
}

.itemlist
{
  line-height: 25px;
}

.itemlist input
{
  vertical-align: middle;
}

span.sieve.error
{
  color: red;
}

a.button.add
{
  background: url(images/add.png?v=a165.280) no-repeat;
  width: 30px;
  height: 20px;
  margin-right: 4px;
  display: inline-block;
}

a.button.del
{
  background: url(images/del.png?v=3c27.247) no-repeat;
  width: 30px;
  height: 20px;
  display: inline-block;
}

a.button.disabled
{
  opacity: 0.35;
  filter: alpha(opacity=35);
  cursor: default;
}

#filter-form select,
#filter-form input,
#filter-form textarea
{
  font-size: 11px;
}

/* fixes for popup window */

body.iframe.mail
{
  margin: 0;
  padding: 0;
}

body.iframe.mail #filter-form
{
  padding: 10px 5px 5px 5px;
}
