<div id="helpabout" class="readtext">
<h2 align="center">Copyright &copy; 2005-2012, The Roundcube Dev Team</h2>

<p>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License (with exceptions
for skins &amp; plugins) as published by the Free Software Foundation,
either version 3 of the License, or (at your option) any later version.
</p>
<p>
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the 
GNU General Public License for more details.
</p>
<p>
You should have received a copy of the GNU General Public License
along with this program. If not, see <a href="http://www.gnu.org/licenses/">www.gnu.org/licenses</a>.
</p>

<p>
For more details about licensing and the expections for skins and plugins
see <a href="http://roundcube.net/license">roundcube.net/license</a>.
</p>

<p><br/>Website: <a href="http://roundcube.net">roundcube.net</a></p>
</div>
